<h3>Angular ngxBootstrap</h3>
<div class="container">
  <form>
    <!-- Put the calendar onto a div to help with styling. It will default to current date -->
    <div class="form-group" style="display: inline-block">
      <input type="text"
             name="datePicker"
             [(ngModel)]="starDate"
             placeholder="Pick a date"
             class="form-control"
             bsDatepicker>
    </div>

    <!-- Put the time onto a div to help with styling. It will default to current time -->
    <div class="form-group">
      <timepicker name="timePicker" [(ngModel)]="startTime" showSeconds="true"></timepicker>
      <pre class="alert alert-info">Time is: {{startTime}}</pre>
    </div>
  </form>
</div>

<h3>{{starDate}}</h3>
<router-outlet></router-outlet>
